body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    padding-top: 3vh;
}

.entry {
    color: white;
    margin-bottom: 3vh;
}

.entry input {
    margin-left: 3vw;
}

#apply {
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    width: 120px;
}

#apply:hover {
    background-color: antiquewhite;
}

#apply p {
    line-height: 30px;
    text-align: center;
}
