#about {
    left: 20%;
    position: relative;
    width: 60%;
}

#about p {
    color: rgb(200, 200, 200);
    line-height: 30px;
    text-align: justify;
}

#about table {
    background-color: white;
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

#about tr {
    height: 30px;
}

#about td, th {
    border: solid 0.5px rgb(212, 212, 212);
    color: black;
    text-align: center;
}

#about .non-data {
    background-color: rgb(230, 230, 230);
}

#uploadPath {
    cursor: pointer;
}

#hiddenUploadPatches {
    display: none;
}

#about #clearActivities, #generateActivityList {
    margin-bottom: 20px;
    text-decoration: underline;
}

#about a {
    color: rgb(200, 200, 200);
    cursor: pointer;
}

#about #clearActivities a:visited {
    color: rgb(200, 200, 200);
}
