<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于应用</title>
    <link rel="stylesheet" href="../src/styles/global.css">
    <link rel="stylesheet" href="../src/styles/about.css">
</head>
<body>
    <div id="content">
        <p>在最终生成Word文档和Excel汇总表前，请先完成以下事项:</p>
        <ul>
            <li>在软件的<span class="highlight">学生信息</span>部分，上传Excel表格，完成学生信息的登记。只需要在学生名单发生变动时完成这项工作。成功上传后，会看到如下图中红色部分的"名单已上传"字样。<br><br><img src="../src/images/about-pic-1.png"></li>
            <li>对于需要被纳入最终计算的活动，在软件的<span class="highlight">注册活动</span>部分，上传记录活动信息的Excel表格，一次可以上传多个文件。报错信息会在日志中输出，可以点击下图中红色部分调出日志。<br><br><img src="../src/images/about-pic-2.png"></li>
        </ul>
        <p>生成的文件位于软件安装目录的<span class="highlight">resources/app/output</span>文件夹下。</p><br><br>
        <p><i>作者：姜绍彬</i></p>
        <p><i>联系方式：邮箱 - phantoms23@sina.com; QQ - 2359840487</i></p>
    </div>
    <script src="../src/scripts/about.js"></script>
    <script src="../src/scripts/shortcut.js"></script>
</body>
</html>