<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../src/styles/global.css">
    <link rel="stylesheet" href="../src/styles/config.css">
</head>
<body>
    <p class="entry"><span class="entry-name">社会活动分上限</span> <input id="maxActivity" type="number"></p>
    <p class="entry"><span class="entry-name">社会工作分上限</span> <input id="maxWork" type="number"></p>
    <div id="apply"><p>保存设置</p></div>

    <script src="../src/scripts/config.js"></script>
    <script src="../src/scripts/shortcut.js"></script>
</body>
</html>
